<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer><!--start-php-->
		<handlers>
			<remove name="php_5.2" ></remove>
			<remove name="php_5.3" ></remove>
			<remove name="php_5.4" ></remove>
			<remove name="php_5.5" ></remove>
			<remove name="php_5.6" ></remove>
			<remove name="php_7.0" ></remove>
			<remove name="php_7.1" ></remove>
			<add name="php_5.5" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="E:\BtSoft\WebSoft\php\5.5\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" ></add>
			<remove name="PageHandlerFactory-ISAPI-2.0-64" ></remove>
			<remove name="PageHandlerFactory-ISAPI-2.0" ></remove>
			<remove name="SimpleHandlerFactory-ISAPI-2.0-64" ></remove>
			<remove name="SimpleHandlerFactory-ISAPI-2.0" ></remove>
			<remove name="ASPClassic" ></remove>
		</handlers>
		<!--end-php-->
        <rewrite>
            <rules>
                <rule name="已导入的规则 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" ></match>
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" ></add>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" ></add>
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" ></action>
                </rule>	<rule name="west518.cn_301" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^west518.cn" />
					</conditions>
					<action type="Redirect" url="http://www.west518.cn" redirectType="Permanent" />
				</rule>
				
			</rules>
        </rewrite>
        
    </system.webServer>
</configuration>
