<link rel="stylesheet" href="__ROOT__/Public/Home/css/cemmer.css">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/index.css">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/styless.css">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/ipad.css">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/swiper.min.css">
    <script src="__ROOT__/Public/Home/js/jquery-1.10.1.min.js"></script>
    <script src="__ROOT__/Public/Home/js/index.js"></script>
    <script src="__ROOT__/Public/Home/js/swiper.min.js"></script>
<?php include_once("baidu_js_push.php") ?>
 <div class="top">
        <div class="top1">
            <div class="top2"><a href="__APP__/index.html"><img src="__ROOT__/Public/home/images/logo.png" alt=""></a></div>
            <div class="fen">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="top3">
                <ul>
                    <li><a href="__APP__/index.html"><div></div>首页</a></li>
                    <li><a href="__APP__/about.html"><div></div>关于</a></li>
                    <li><a href="__APP__/fw.html"><div></div>服务</a></li>
                    <li><a href="__APP__/al.html"><div></div>案例</a></li>
                    <li><a href="?c=NewsController"><div></div>资讯</a></li>
                    <li><a href="__APP__/contact.html"><div></div>联系</a></li>
                </ul>
            </div>
        </div>
    </div>
	