<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
    <title>联系我们</title>
    <meta name="keywords" content="西安网站维护，西安网站优化，西安网站制作，西安做网站，西安做网页，西安网页制作，西安网站开发，西安企业网站制作，西安网页设计" />
<meta name="description" content="西安腾诺网络联系我们栏目提供我们公司联系方式，您可以通过本页面联系我们帮您开发西安网站制作、西安做网站、西安网页设计。" />
	<link rel="stylesheet" href="__ROOT__/Public/Home/css/contact.css">
</head>
<body>
<div class="top">
    <div class="top1">
        <include file="public/header" />
    </div>
</div>
    <div class="con">
    </div>

    <div class="con1">
        <div class="con2">
            <h3>与我们联系</h3>
            <p>腾诺网络能够一直与客户建立长期合作关系，主要因为我们提供出色的品牌设计服务。<br>
                作为一家品牌设计和互动网络公司，我们透过策略、创意和服务的相互配合协调，令品牌传播更有效率。</p>
        </div>
         <div class="con3">
                <iframe src="__ROOT__/Public-dt.html" frameborder="0"></iframe>
                <div class="con4">
                    <div class="con41">
                        <h1>
                            <span class="ck">西安</span>
                        </h1>
                        <h2>
                            中国 · 大陆 &nbsp;&nbsp;&nbsp; 腾诺信息科技有限公司
                        </h2>
                        <div class="ase">
                            地址: 陕西省西安市未央区赛高国际A座28层 <br>
                            ADD: 28th floor, A seat, saigao international, weiyang district, xi 'an, shaanxi province.
                        </div>
                        <div class="ase">
                            电话（Tel）：<span><a href="tel:18066528545">18066528545</a></span> <br>
                            座机（landline)：<span><a href="tel:02989298792">029-89298792</a></span><br>
                            传真（Fax）：<span>029-89298792</span> <br>
                            E-MAIL：<span>229444115@qq.com</span> <br>
                            WEB：<span>http://www.west518.cn</span>
                        </div>
                        <h3>
                            24小时服务：<span>180-6652-8545</span><br>
                        </h3>
                        </div>
                </div>


        </div>
    </div>
<include file="Public:footer" />