
		<div id="content">
			<div id="content-header">
				<h1>添加</h1>
			</div>
			<div id="breadcrumb">
				<a href="__APP__/Admin/Index/index" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 后台首页</a>
				<a  class="current">添加</a>
			</div>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-align-justify"></i>									
								</span>
								<h5>Rest of elements...</h5>
							</div>
							<div class="widget-content nopadding">
								<form action="" method="post" class="form-horizontal" enctype="multipart/form-data" />
									
									
									
                                    <div class="control-group">
                                        <label class="control-label">名称</label>
                                        <div class="controls">
                                            <input type="text" name="name" placeholder="权限名称" id="level" style="width:200px"/><span style="color:red" id="info1"></span>
                                        </div>
                                    </div>
									
                                       <div class="control-group">
                                        <label class="control-label">权限</label>
                                        <div class="controls">
										<volist name="admin_nav" id="vo">
                                            <input type="checkbox" name="level[]" value="{$vo.id}"/>{$vo.name}
									    </volist>
                                        </div>
                                    </div>
                                     <script src="js/ckeditor/ckeditor.js"></script>
									<script>
										CKEDITOR.replace('des');
										CKEDITOR.config.filebrowserUploadUrl = 'xxxxxx';
									</script>
									<div class="form-actions">
										<button type="submit" id="sub" class="btn btn-primary" disabled>提交</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
<script>
 $(function(){
    $('#level').keyup(function(){
	     var user=$(this).val();
		 $.ajax({
			   type: "POST",
			   url: "__APP__/Admin/Level/ajax",
			   data: "name="+user,
			   success: function(msg){
				 if(msg==1){
				   $('#sub').attr('disabled',true);
				   $('#info1').html('权限名已存在');
				 }else{
				   $('#sub').attr('disabled',false);
				   $('#info1').html(''); 
				 }
			   }
			});
	})
 })
</script>










