.fwxm{
    width: 100%;
    padding: 30px 0 15px;
}
.fwxm1{
    max-width: 1150px;
    height: auto;
    margin: 0 auto;
}
.fwxm1>h3{
    font-size: 26px;
    color: #333;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
.fwxm1>p{
    line-height: 26px;
    font-size: 14px;
    text-align: center;
    color: #666;
}
.fwxm2{
    margin-top: 26px;

    max-width: 1150px;

}
.fwxm2 li{
    display: inline-block;
    float: left;
    width: 16.6%;
    margin:0 8px ;
    border: 1px solid #efefef;
    background: #f9f9f9;
    padding:10px 10px 22px;
}
.fwxm2 li a h3{
    font-size: 24px;
    text-align: center;
    color: #292929;
    padding-bottom: 16px;
    font-weight: normal;
}
.fwxm2 li a div{
    line-height: 30px;
}
.fwxm2 li a{
    padding-top:120px ;
    display: block;
}
.fwxm2 li:nth-of-type(1) a{
    background: url("../images/fw_1.png") no-repeat center 24px;
}
.fwxm2 li:nth-of-type(2) a{
    background: url("../images/fw_2.png") no-repeat center 24px;
}
.fwxm2 li:nth-of-type(3) a{
    background: url("../images/fw_3.png") no-repeat center 24px;
}
.fwxm2 li:nth-of-type(4) a{
    background: url("../images/fw_4.png") no-repeat center 24px;
}
.fwxm2 li:nth-of-type(5) a{
    background: url("../images/fw_5.png") no-repeat center 24px;
}


.fwxm2 li:nth-of-type(1):hover a{
    background: url("../images/fw_1a.png") no-repeat center 24px;
}
.fwxm2 li:nth-of-type(2):hover a{
    background: url("../images/fw_2a.png") no-repeat center 24px;
}
.fwxm2 li:nth-of-type(3):hover a{
    background: url("../images/fw_3a.png") no-repeat center 24px;
}
.fwxm2 li:nth-of-type(4):hover a{
    background: url("../images/fw_4a.png") no-repeat center 24px;
}
.fwxm2 li:nth-of-type(5):hover a{
    background: url("../images/fw_5a.png") no-repeat center 24px;
}

.fwxm2 li:hover{
    background: #bf0000;
}

.fwxm2 li:hover h3{
    color: #ffffff;
}
.fwxm2 li:hover div{
    color: #ffffff;
}



/*案例*/
.alzs{
    width: 100%;
    padding: 30px 0 15px;

}
.alzs1{
    max-width: 1150px;
    height: auto;
    margin: 0 auto;
}
.alzs1>h3{
    font-size: 26px;
    color: #333;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
.alzs1>p{
    line-height: 26px;
    font-size: 14px;
    text-align: center;
    color: #666;
}
.alzs2 li{
    display: inline-block;
    float: left;
    width: 24%;
    margin-right:5px;
    position: relative;
    overflow: hidden;
}
.alzs2 li:nth-of-type(4n){
    margin-right: 0px;
}
.alzs2 li>a>img{
    width: 100%;
    height: 186px;
}
.alzs2{
    max-width: 1150px;

    margin-top: 26px;
}
.alzs2 li>div{
    position: absolute;
    top:0;
    left:-276px ;
}
.alzs3{
    background: rgba(191, 0, 0, 0.77);
    width: 100%;
    height: 100%;
    transition: .5s;
    text-align: center;
}
.alzs3 a img{
    margin: 30px auto 10px;
}
.alzs3 a div{
    color: #ffffff;
    /*font-weight: bold;*/
    font-size:18px;
}

/*制作流程*/
.zzlc{
    width: 100%;
    padding: 30px 0 15px;
    background: #f9f9f9;
}
.zzlc1{
    max-width: 1150px;
    height: auto;
    margin: 0 auto;
}
.zzlc1>h3{
    font-size: 26px;
    color: #333;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
.zzlc1>p{
    line-height: 26px;
    font-size: 14px;
    text-align: center;
    color: #666;
}
.zzlc3{
    height: 230px;
}
.zzlc3 li{
    display: inline-block;
    float: left;
}
.zzlc3 li:nth-of-type(2n-1){
    width: 160px;
}
.zzlc3 li:nth-of-type(2n){
    width: 80px;
}
.zzlc4 img{
    width: 100px;
    height: 100px;
    display: block;
    margin: 20px auto 10px;
}
.zzlc4 h3{
    text-align: center;
    font-weight: normal;
}
.zzlc4 div{
    line-height: 23px;
    margin-top: 5px;
    color: #999;
    text-align: center;
}
.zzlc5 img{
    display: block;
    margin: 48px auto;
}


/*新闻*/
.inxe{
    width: 100%;
    height: auto;
    padding: 25px 0;
}
.inxe1{
    max-width: 1150px;
    height: auto;
    margin: 0 auto;
    padding:  0 5px;
}
.inxe1>div{
    float: left;
    display: inline-block;
    width: 47%;
    margin-right: 50px;
}
.inxe1>div:nth-of-type(2){
    margin-right: 0;
}
.inxe3{
    line-height: 40px;
}
.inxe3>h3{
    font-size: 20px;
    color: #333;
    border-bottom: solid 2px #ccc;
    position: relative;
    padding: 0 5px;
}
.inxe3>h3 i{
    font-style: normal;
    font-size: 14px;
    color: #666;
    display: inline-block;
    margin-left: 35px;
    font-weight: normal;
}
.inxe3>h3 a{
    font-size: 12px;
    float: right;
    font-weight: normal;
    margin-top: 2px;
    color: #999;

}
.inxe3>h3 b{
    width: 127px;
    display: inline-block;
    height: 2px;
    background: #bf0000;
    position: absolute;
    left: 0;
    bottom: -2px;
}
.inxe4{
    margin-top: 20px;
}
.inxe4 li{
    line-height: 36px;

}
.inxe41{
    line-height: 40px;
}
.inxe41 a{
    color: #999;
}
.inxe4 a{
    color: #969696;
}
.inxe4 ul{
	counter-reset:section;
}
.inxe41 ul{
	counter-reset:section;
}
.inxe4 li:before{
        counter-increment:section;
        content:counter(section);
        display:inline-block;
        padding:0 6px;
        margin-right:10px;
        height:18px;
        line-height:18px;
        background:#cbcbcb;
        color:#fff;
        border-radius:3px;
        font-size:9px
    }
	.inxe41 li:before{
        counter-increment:section;
        content:counter(section);
        display:inline-block;
        padding:0 6px;
        margin-right:10px;
        height:18px;
        line-height:18px;
        background:#cbcbcb;
        color:#fff;
        border-radius:3px;
        font-size:9px
    }
 
.inxe41 li:nth-of-type(1):before{background:#bf0000;}
.inxe41 li:nth-of-type(2):before{background:#bf0000;}

.inxe4 li:nth-of-type(1):before{background:#bf0000;}
.inxe4 li:nth-of-type(2):before{background:#bf0000;}
.inxe4 li:nth-of-type(3):before{background:#bf0000;}

.int img {
    width: 128px;
    height: 115px;
    margin-left: 10px;
    margin-top: 9px;
}
.int>a{
    width: 128px;
    height: 133px;
    display: inline-block;
    float: left;
    margin-right: 30px;
}
.int>div{
    padding: 20px 10px;
}
.int>div>h3 a{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
}
.int>div>div a{
    font-size: 13px;
    color: #fff;
    text-indent: 25px;
    line-height: 24px;
}
.int{
    background: #bf0000;
    height: 133px;
    margin-top: 20px;
}
.yq1{
    max-width: 1150px;
    margin: 30px auto 0;
    min-height: 50px;
}
.yq2{
    float: left;
    margin-right: 20px;
	width:120px;
	height:65px;
	background:#bf0000;
	color:#fff;
	text-align:center;
	line-height:65px;
}
.yq1>a{
    margin-right: 10px;
    line-height: 35px;
	margin-left: 10px;
}
.yq1{
	color:#d2d2d2;
}
.inxe4 li span{
	float:right;
	color:#999;
	font-size:13px;
}
.inxe41 li span{
	float:right;
	color:#999;
	font-size:13px;
}
.inab{
    width: 100%;
    height: auto;
    padding: 25px 0 25px;
}
.inab1{
    max-width: 1150px;
    margin: 0 auto;

}
.inab1>h3{
    font-size: 26px;
    color: #1d1d1d;
    line-height: 50px;
    text-align: center;
    font-weight: normal;
}
.inab1>p{
    line-height: 26px;
    font-size: 14px;
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}
.inab2>div{
    float: left;
    width: 50%;
}
.inab2 img{
    width: 93%;
    height: 320px;
}
.inab5{
    line-height: 28px;
    height: 224px;
    overflow: hidden;
}
.qwf {
    width: 80%;
    height: 40px;
    text-align: center;
    margin: 35px auto 0;
    border: solid 1px #bf0000;
}
.qwf li {
    display: inline-block;
    width: 24.84%;
    line-height: 40px;
    border-right: solid 1px #bf0000;
    float: left;
}
.do a {
    color: #fff;
    font-size: 14px;
}
.qwf li:last-child {
    border-right: none;
}
.do {
    background: #bf0000;
}
.qwf li:hover{
    background: #bf0000;
}
.qwf li:hover a{
    color: #ffffff;
}
.zzlc4 div {
    line-height: 23px;
    margin-top: 5px;
    color: #999;
	height:46px;
	overflow:hidden;
    text-align: center;
}